<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="edu.plohoy.spitter.impl.dao.SpitterDaoImpl"/>
    <bean id="service" class="edu.plohoy.spitter.impl.service.SpitterServiceImpl">
        <property name="dao" ref="dao"/>
    </bean>

</beans>