<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <context:component-scan base-package="edu.plohoy.spitter"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="dao" class="edu.plohoy.spitter.impl.dao.JDBCSpitterDaoImpl"
          p:jdbcTemplate-ref="jdbcTemplate"/>
    <!--<bean id="dao" class="edu.plohoy.spitter.impl.dao.HibernateSpitterDaoImpl"/>-->
    <!--<bean id="dao" class="edu.plohoy.spitter.impl.dao.JPASpitterDaoImpl"/>-->

    <bean id="service" class="edu.plohoy.spitter.impl.service.SpitterServiceImpl">
        <property name="dao" ref="dao"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost/spitter"/>
        <property name="username" value="postgres"/>
        <property name="password" value="44881212"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--<bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="packagesToScan" value="edu.plohoy.spitter"/>-->
        <!--<property name="hibernateProperties">-->
            <!--<props>-->
                <!--<prop key="dialect">org.hibernate.dialect.PostgreSQL10Dialect</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">-->
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->

    <!--<bean name="emf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">-->
        <!--<property name="persistenceUnitName" value="spitterPU"/>-->
    <!--</bean>-->
    <!--<bean name="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>-->
    <!--</bean>-->
    <!--<bean name="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">-->
        <!--<property name="database" value="POSTGRESQL"/>-->
        <!--<property name="showSql" value="true"/>-->
        <!--<property name="generateDdl" value="false"/>-->
        <!--<property name="databasePlatform" value="org.hibernate.dialect.PostgreSQL10Dialect"/>-->
    <!--</bean>-->
    <!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
        <!--<property name="entityManagerFactory" ref="emf"/>-->
        <!--<property name="jpaDialect" value="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>-->
    <!--</bean>-->

    <!--<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>-->
    <!--<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>-->


    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="add*" propagation="REQUIRED"/>-->
            <!--<tx:method name="*" propagation="SUPPORTS" read-only="true"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--<aop:config>-->
        <!--<aop:advisor-->
                <!--pointcut="execution(* *..SpitterService.*(..))"-->
                <!--advice-ref="txAdvice"/>-->
    <!--</aop:config>-->
</beans>